build-uschat*
Debug
x64
build
.vs
uschat.pro.user
node_modules
config.ini
config.json
__pycache__
/client/uschat/.qmake.stash
/client/uschat/bin/uschat.exe
/client/uschat/bin/uschat.ilk
/client/uschat/bin/uschat.pdb
/client/uschat/uschat.qtvscr
/client/uschat/uschat.sln
/client/uschat/uschat.vcxproj
/client/uschat/uschat.vcxproj.filters
/client/uschat/uschat.vcxproj.user
/client/uschat/uschat_resource.rc
/client/uschat/release/moc_predefs.h.cbt
/client/uschat/ui_adduseritem.h
/client/uschat/ui_applyfriend.h
/client/uschat/ui_chatdialog.h
/client/uschat/ui_chatuserwid.h
/client/uschat/ui_findsuccessdlg.h
/client/uschat/ui_friendlabel.h
/client/uschat/ui_loadingdlg.h
/client/uschat/ui_logindialog.h
/client/uschat/ui_mainwindow.h
/client/uschat/ui_registerdialog.h
/client/uschat/ui_resetdialog.h
ui_*.h
/server/VarifyServer/.idea/*.iml
/server/VarifyServer/.idea
/server/ChatServer/*.log
/client/uschat/uschat.pro.user.92bdd7d
client/uschat/release/

client/uschat/build/